# ------------------------
# Node.js
# ------------------------
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ------------------------
# Environment Variables
# ------------------------
.env

# ------------------------
# OS Files
# ------------------------
.DS_Store
Thumbs.db

# ------------------------
# Logs
# ------------------------
logs/
*.log

# ------------------------
# Build / Dist
# ------------------------
dist/
build/

# ------------------------
# IDE / Editor
# ------------------------
.vscode/
.idea/
*.swp

# ------------------------
# Multer / Uploads (if using diskStorage)
# ------------------------
uploads/

# ------------------------
# AWS / Credentials (VERY IMPORTANT)
# ------------------------
.aws/
*.pem
*.key

# ------------------------
# Temporary Files
# ------------------------
tmp/
temp/
converted/
uploads/
.cache/

# ------------------------
# Coverage
# ------------------------
coverage/
